.navs {
    border-radius: 100px;
    background-color: var(--white-color);
    /* position: absolute;
    top: 3.8rem;
    left: 8.8rem;
    right: 8.8rem; */
    margin:3.8rem 0 4.4rem;
    padding: 1.55rem 2.86rem ;
    border: 1px solid var(--border-color);
}
.navs a {
  color: var(--black-color);
  text-decoration: none;
}
.logo-div {
  margin-right: 2.8rem;
}
.navs a:hover {
  color: var(--main-color);
}
.nav-item {
    font-size: 15px;
    color: var(--black-color);

}
.dropbtn {
    color: var(--black-color);
    margin: 0 px;
    border: none;
    background-color: var(--white-color);
    font-weight: 400;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    min-width: 160px;
    z-index: 1;
    border: 1px solid var(--border-color);
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: var(--black-color);
    padding: 10px 25px;
    text-decoration: none;
    display: block;
    font-size: 14px;
  }
  
  .dropdown-content a:hover {color: var(--main-color);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
